.btn.sign {
	background: #2e7eb9;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 20px;
	padding: 9px 15px;
	font-size: 15px;
}
#user-account {
    width: auto;
    height: 40px;
    float: right;
    margin-right: 10px;
    position: relative;
  }