<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark green scrolling-navbar ie-nav" [containerInside]="false" role="navigation">        
  <mdb-navbar-brand>          
        <a href=""><img style="height: 50px !important" src="assets/images/logo_white.png"></a>
  </mdb-navbar-brand>
</mdb-navbar>
<div [hidden]="!email" style="margin-top: 100px; margin-left: 20px; font-size: 20px;">
  Your email has been verified!
</div>
<mdb-card style="margin-top: 90px;" [hidden]="email">
  <!--Card image-->
  <!--Card content-->
  <mdb-card-body style="text-align: center;">
    <div (click)="loginWithGoogle()" id="googleLogin">
      <a class="btn btn-primary waves-light" id="gmailLogin" mdbWavesEffect>Login with Gmail</a>
    </div>
    <div (click)="signUpWithGoogle()" id="signupdiv">
      <p id="signUp"> <u> Click Here if you dont have Google Account</u></p>
    </div>
    <div id="emailDiv">
      <a id="emailLogin" data-toggle="modal" (click)="showMail()">
        <u>Click Here to login with Email</u>
      </a>
    </div>
    <div id="phoneDiv">
      <a id="phoneLogin" class="" data-toggle="modal" (click)="showPhone()">
        <u>Click Here to login with Phone</u>
      </a>
    </div>
    <form name="userform" method="post" #formCtrl="ngForm" id="hidden-email-form" style="display: none;">
      <mdb-card>
        <mdb-card-body style="text-align: left;"> 
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" (click)="message = ''" [(ngModel)]="user.email" name="email" id="input" 
              placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" (click)="message = ''" [(ngModel)]="user.password" id="password" name="password"
              placeholder="Password" required>
          </div>

          <div class="form-group">
            <button type="button" id="loginButton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()">
              Login with Email
            </button>
          </div>
          <label>{{message}}</label>
        </mdb-card-body>
      </mdb-card>

    </form>

    <form name="phoneform" method="post" #formCtrlPhone="ngForm" id="hidden-phone-form" style="display: none;">
    <div  >
      <mdb-card>
        <mdb-card-body style="text-align: left;">
          <label for="phone">Phone Number</label>
          <br>
          <div class="form-group">
          <input  class="form-control" required type="text" style=" max-width: 50px; margin-right: 5px;" [(ngModel)]="phoneNumber.country" class="input" placeholder="91" maxlength="2"
            id="phoneNumber1" name="phoneNumber1">
          <input class="form-control" required type="text" [(ngModel)]="phoneNumber.area" class="input" placeholder="94923456789" maxlength="10"
            id="phoneNumber2" name="phoneNumber2">
          <div id="recaptcha-container-login" style="margin-top: 10px; margin-bottom: 10px;"></div>
          </div>
          <div class="form-group">
          <button (click)="sendLoginCode()" class="btn btn-primary btn-block" id="phoneSubmit">SMS Text Login Code</button>
            </div>
          <div [hidden]="!codesent">
            <hr>
            <label for="code">Enter your Verification Code Here</label>            
            <input type="text" name="code" [(ngModel)]="verificationCode">
            <button (click)="verifyLoginCode()" id="verify" class="btn btn-primary btn-block" style="margin-bottom: 20px;">Verify</button>
          </div>

          <div *ngIf="currentUser">
            <!--You have successfully logged in!-->
          </div>
        </mdb-card-body>
      </mdb-card>

    </div>
   </form>
  </mdb-card-body>
</mdb-card>

