/* You can add global styles to this file, and also import other style files */
html{
    position:relative; 
    min-height: 100%;
  }
body
{    
    font-family: 'open Sans', sans-serif;  
    margin:0;
    padding:0;  
}

footer
{
   background-color: #36739f;
}